version: '3.7'

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.2.2.arm64
    container_name: zookeeper
    ports:
      - 32181:32181
    environment:
      - ZOOKEEPER_CLIENT_PORT=32181
      - ZOOKEEPER_TICK_TIME=2000
      - ZOOKEEPER_SYNC_LIMIT=2

  kafka:
    image: confluentinc/cp-kafka:7.2.2.arm64
    container_name: kafka
    depends_on:
      - zookeeper
    links:
      - "zookeeper:zookeeper"
    ports:
      - 29092:29092
      - 9092:9092
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:32181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092,PLAINTEXT_HOST://kafka:29092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_BROKER_ID=2
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - ALLOW_PLAINTEXT_LISTENER=yes

  schema:
    image: confluentinc/cp-schema-registry:7.2.2.arm64
    container_name: schema
    depends_on:
      - kafka
      - zookeeper
    links:
      - "zookeeper:zookeeper"
      - "kafka:kafka"
    ports:
      - 8081:8081
    environment:
      - SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:29092
      - SCHEMA_REGISTRY_HOST_NAME=schema
      - SCHEMA_REGISTRY_LISTENERS=http://schema:8081
      - SCHEMA_REGISTRY_DEBUG=true

  kafka_rest:
    container_name: kafka_rest
    image: confluentinc/cp-kafka-rest:7.2.2.arm64
    ports:
      - 8082:8082
    links:
      - "zookeeper:zookeeper"
      - "kafka:kafka"
      - "schema:schema"
    depends_on:
      - zookeeper
      - kafka
      - schema
    environment:
      - KAFKA_REST_ZOOKEEPER_CONNECT=zookeeper:32181
      - KAFKA_REST_LISTENERS=http://localhost:8082
      - KAFKA_REST_SCHEMA_REGISTRY_URL=http://localhost:8081
      - KAFKA_REST_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:29092

# networks:
#   kafka-full-network:
#     driver: ""